<template>
  <div class="archive">
    <div class="jumbotron bg-transparent mb-0 radius-0">
      <b-container fluid="">
        <b-row>
          <b-col xl="3" lg="3" md="2" sm="0"></b-col>
          <b-col xl="6" lg="6" md="8" sm="12">
            <h1 class="display-2">Paste Bin<span class="vim-caret">x</span></h1>
            <div class="lead mb-3 text-mono text-success">
              Intended for use as a short-term exchange of pasted information
              between parties.
            </div>
            <div class="text-mono">
              <router-link
                :to="{ name: 'Home' }"
                class="btn btn-success btn-shadow px-3 my-2 ml-0 text-left"
              >
                Home
              </router-link>
            </div>

            <div class="text-darkgrey text-mono my-2">
              It is intended to be used directly by humans.
            </div>
          </b-col>
          <b-col xl="3" lg="3" md="2" sm="0"></b-col>
        </b-row>
      </b-container>
    </div>

    <b-container fluid="" class="content">
      <b-row>
        <b-col xl="3" lg="3" md="2" sm="0"></b-col>
        <b-col xl="6" lg="6" md="8" sm="12">
          <b-table striped hover :items="items" :fields="fields">
            <template #cell(title)="data">
              <a
                class="text-info"
                :href="/s/ + data.item.short_key"
                target="_blank"
                >{{ data.value }}</a
              >
            </template>
          </b-table>

          <b-button class="mr-2" variant="success" @click="loadPrev()"
            >Prev</b-button
          >
          <b-button variant="primary" @click="loadNext()">Next</b-button>
        </b-col>
        <b-col xl="3" lg="3" md="2" sm="0"> </b-col>
      </b-row>
    </b-container>

    <div class="container py-5">
      <p>
        Powered by
        <a href="https://xuthus.cc" target="_blank" class="text-danger"
          >xuthus</a
        >, it's open source :) -
        <a
          href="https://github.com/xuthus5/pbx"
          target="_blank"
          class="text-danger"
          >pbx</a
        >
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Archive",
  data() {
    return {
      fields: [
        { key: "title", label: "TITLE" },
        { key: "short_key", label: "POSTED" },
        { key: "lang", label: "SYNTAX" },
      ],
      items: [],
      current_page: 0,
      total_page: 0,
    };
  },
  methods: {
    loadPrev() {
      if (this.current_page - 1 <= 0) {
        return;
      }
      this.current_page -= 1;
      let header = {
        "content-type": "application/json",
      };

      this.$ajax
        .get("/api/pastebin/list?page_size=25&page=" + this.current_page, {
          headers: header,
        })
        .then((response) => {
          this.items = response.data.list;
          this.current_page = response.data.current_page;
          this.total_page = response.data.total_page;
          return;
        })
        .catch((error) => {
          this.flashError("get err: ", error);
          console.log("get err: ", error.response);
        });
    },
    loadNext() {
      if (this.current_page + 1 > this.total_page) {
        return;
      }

      this.current_page += 1;
      let header = {
        "content-type": "application/json",
      };

      this.$ajax
        .get("/api/pastebin/list?page_size=25&page=" + this.current_page, {
          headers: header,
        })
        .then((response) => {
          this.items = response.data.list;
          this.current_page = response.data.current_page;
          this.total_page = response.data.total_page;
          return;
        })
        .catch((error) => {
          this.flashError("get err: ", error);
          console.log("get err: ", error.response);
        });
    },
  },
  created() {
    let header = {
      "content-type": "application/json",
    };

    this.$ajax
      .get("/api/pastebin/list", { headers: header })
      .then((response) => {
        this.items = response.data.list;
        this.current_page = response.data.current_page;
        this.total_page = response.data.total_page;
        return;
      })
      .catch((error) => {
        this.flashError("get err: ", error);
        console.log("get err: ", error.response);
      });
  },
};
</script>

<style>
textarea {
  /*tab-size: 4;*/
  text-align: left;
}

.input {
  text-align: left;
}

.CodeMirror,
.vue-codemirror {
  height: 512px;
  text-align: left !important;
  font-family: "Fira Code", "Courier New", Courier, monospace !important;
}

.form-group small {
  text-align: left;
}

.b-form-tags.focus {
  color: #1ddd86 !important;
  background-color: #28293e;
}

.custom-switch .custom-control-label::before {
  background-color: #9ea9b6;
}

#custom_tags___input__ {
  color: wheat;
}

#custom_tags input::-webkit-input-placeholder {
  color: #a19fb9;
}
</style>
